---
import type { Year } from "./data";

import type { QuestionCondition } from "./utils";
import getContext from "@astro-utils/context";
import { Chart as RChart } from "./chart";
import { getQuestion } from "./utils";

export interface Props {
  id: string;
  year?: Year;
  condition?: QuestionCondition;
  groupBy?: string;
  pie?: boolean;
  showEmptyOptions?: boolean;
}
const {
  id = "",
  year: yearProp,
  condition,
  groupBy,
  pie = false,
  showEmptyOptions = true
} = Astro.props;

const { year: yearContext } = getContext(Astro);
const year = (yearProp || yearContext || "null") as Year;
const results = getQuestion({ id, year, condition, groupBy });
---

{
  results
? (
    <RChart
      results={results}
      pie={pie}
      year={year}
      showEmptyOptions={showEmptyOptions}
    />
  )
: (
    <div class="text-sm text-red-500">
      {" "}
      No results for {id} in {year}
    </div>
  )
}
